<div class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a [routerLink]="/" class="navbar-brand">FutCM</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li>
          <a [routerLink]="['/configurations']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Configurations</a>
        </li>
        <li>
          <a [routerLink]="['/link']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Link</a>
        </li>
      </ul>
      <div class="navbar-header navbar-right">
        <ul class="nav navbar-nav">
          <li>
            <!--<a *ngIf="!auth.isAuthenticated()" [routerLink]="['user/login']">Login</a>-->
            <!--<a *ngIf="auth.isAuthenticated()" [routerLink]="['user','profile']">Welcome {{auth.currentUser.firstName}}</a>-->
          </li>
        </ul>
      </div>      
  </div>
</div>