.green {
    color: green
}
.bold {
    font-weight: bold
}
.pad-left {
    margin-left: 10px;
}
.dell div {
    color: dimgray;
}
.thumbnail {
    padding-left: 20px;
    padding-right: 20px;
    background-color: #4e5d7c;
}

.thumbnail:hover {
    background-color: #708fc1;
    cursor:pointer;
}

a {
    cursor: pointer;
}

.closeButton{
    float: right;
    border-radius: 4px;
    border: 1 solid darkslategrey;
    padding: 2px;
}

.closeButton:hover{
    background-color: darkslategray;
    
}

.closeButton i{
    color: grey;
}