<form [formGroup]="profile" (ngSubmit)="save(profile.value)" class="col-md-6">
  <div class="form-group">
    <label for="username">User Name:</label>
    <span>{{auth.user.username}}</span>
  </div>
  <div class="form-group">
    <label for="firstname">First Name:</label>
    <input type="text" formControlName="firstname" class="form-control" />
  </div>
  <div class="form-group">
    <label for="lastname">Last Name:</label>
    <input type="text" formControlName="lastname" class="form-control" />
  </div>

  <div>
    <fut-agent-list [hidden]="this.auth.user.agents === undefined || auth.user.agents.length === 0" [agents]="auth.user.agents"></fut-agent-list>
    <div>
      <a role="button" (click)="addAgent()">Add Agent</a>
    </div>
  </div>

  <div class="actions">
    <button type="submit" class="btn btn-primary">Save</button>
    <button (click)="cancel()" class="btn btn-default">Cancel</button>
  </div>
</form>